
html { 
  overflow-y: auto 
}
* {
  text-decoration: none !important;
}
.v-sheet {
  border-radius: 0px !important;
}
.v-dialog {
  border-radius: 0px !important;
}
.v-menu__content {
  border-radius: 0px !important;
}
.v-expansion-panels {
  border-radius: 0px !important;
}
