@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme(
  "default",
  (
    primary: md-get-palette-color(deeppurple, 600),
    // The primary color of your application
      accent: md-get-palette-color(green, 700) // The accent or secondary color
  )
);

@import "~vue-material/dist/theme/all"; // Apply the theme

.custom-button {
  border-radius: 0px;
  margin-left: 0px;
  // padding: 15px;
  height: 50px;
  width: 150px;
  border: 10px;
}
